
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color: white;
font-family: 'Roboto', sans-serif;
color: gray;
line-height: 1.5;
font-size: 0.875rem;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.section{
  width: 100%;
  margin: 0 auto;
}

/* Questions */

main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-size: 62px;
}


.container {
  width: 70%; /* Adjust the width as needed */
  margin: 1rem auto;
  background-color: #f0f0f0; /* Update background color */
  padding: 2.5rem 2rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Update box shadow */
  border-radius: 10px; /* Add border radius for rounded corners */
}

.question {
  padding: 1.5rem; /* Increase padding for the question area */
  color: #333; /* Update text color */
  background-color: #fff; /* Update background color */
  margin-bottom: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Update box shadow */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.container h3{
  line-height: 1.2;
  font-weight: 500;
}

.question h4{
  text-transform: capitalize;
  line-height: 1.5;
}

.question p{
  padding: 15px 10px;
  border: 1px solid white;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.question header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question header h4{
  margin-bottom: 0;
}
.btn{
  background-color: transparent;
  border-color: transparent;
}

svg{
  font-size: 15px; 
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 20px;
  background-color: rgb(10, 3, 3);
  color: rgb(253, 246, 246);
  border-radius: 50%;
  cursor: pointer;
} 


